<h2><%= l(:label_holidays) %></h2>

<% labelled_tabular_form_for :holiday, @holiday, :url => {:action => 'update', :id => @holiday} do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
  <%= submit_tag l(:button_save) %>
<% end %>
