.icon-time-running  { background-image: url(/plugin_assets/redmine_working_hours/images/time-running.gif); }
.icon-csv { background-image:url(/images/csv.png); }
.icon-ics { background-image:url(/images/calendar.png); }
