<%= l(:field_issue) %>:
<% options = "<option value=\"\">#{l(:label_all)}</option>" %>
<% unless @issues.nil? %>
  <% options += options_from_collection_for_select(@issues, :id, :subject, (params[:filter].nil? ? 0 : params[:filter][:issue_id].to_s.to_i)) %>
<% end %>
<%= select_tag "filter[issue_id]", options %>